<h1 class="custom_h1"> Welcome to <%= @user.username %>'s page </h1>

<div class="row">
	<div class="container">
		<div align="center">
			<%= image_tag @user.avatar.url(:thumb) if @user.avatar? %>
		</div>
	</div>
</div>

<h4 class="custom_h1"><%= @user.username %>'s items</h4>

<%= render 'items/item', obj: @user.items %>


