<h1 class="custom_h1"><%= "Category: " + @category.name %></h1>

<div align="center">

	<%= will_paginate @category_items %>

</div>

	<%= render 'items/item', obj: @category_items %>

<div align="center">

	<%= will_paginate @category_items %>

</div>